In [ ]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine

#pd.set_option('display.max_rows', None)
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [ ]:
##  Cargamos y transformamos los datos en un DataFrame  ##
df_fichero = pd.read_csv('C:\\Users\\amerino.practicas\\Documents\\python\\export_csv\\fichero.csv', sep= '|', on_bad_lines='skip') #skip_blank_lines=True

##  Limpieza de datos  ##
# Quitemos la columna con los VE del indice, hacemos otro indice
df_fichero = df_fichero.reset_index(drop=False)
# desplazamos el encabezado una posición a la izquierda
df_fichero.columns = df_fichero.columns[1:].tolist() + [df_fichero.columns[0]]
# Quitamos columnas "Unnamed"
df_fichero = df_fichero.loc[:, ~df_fichero.columns.str.contains('^Unnamed')].reset_index(drop=True)

#df_fichero = df_fichero.drop(df_fichero[df_fichero['TIPO_OPERACION']!='VE'].index).reset_index(drop=True)

# Detectar columnas duplicadas (en éste caso no hay, si las hubiere, tendríamos que ir fusionando los datos en la primera columna no duplicada de la lista)
#col_duplicated = df_fichero.loc[:,~df_fichero.columns.duplicated()].copy() # only first non duplicated name columns

#df_fichero.reset_index(drop=True, inplace=True)  # Restablece el índice antes de cualquier operación
#col_duplicated = df_fichero.loc[~df_fichero.index.duplicated(),:].copy() # .copy() para evitar conflictos

# Ajustes custom
#col_duplicated.drop(col_duplicated.index[-1:], axis=0, inplace=True) # último registro borrado, era nulo
#col_duplicated = col_duplicated.iloc[:50, :].copy() # borrar 20 primeras filas y columnas
#df_fichero = df_fichero.iloc[:90, :].copy()#.astype(str).astype(int) # borrar 20 primeras filas y columnas
#df_fichero = df_fichero.iloc[:10, :] # borrar 20 primeras filas y columnas


columnas_a_verificar = ['LOCALIZADOR', 'EMPRESA_BILL', 'PRODUCTO', 'SERIE', 'BILLETE', 
                        'UNODOS', 'CA', 'LINEA', 'EMPRESA_VENTA', 'VENDEDOR', 'CUENTA_IMPUTACION', 
                        'COD_PAIS', 'KMS', 'PRECIO_BASE', 'PRECIO_NETO']
df_numerico = df_fichero[columnas_a_verificar].apply(pd.to_numeric, errors='coerce')
df_fichero = df_fichero[df_numerico.notnull().all(axis=1)].reset_index(drop=True)

# Seleccionamos una pequeña parte para pruebas:
#df_fichero.drop(df_fichero.index[20:], inplace=True)
#df_fichero = df_fichero[["LOCALIZADOR", "PRODUCTO", "DESTINO"]].reset_index(drop=True).astype(str).astype(int)

#list(df_fichero.column)
df_fichero

In [ ]:
##  Conexión con la base de datos  ##
# Volcar los datos a viajes_testing

server = "Unificada"
database = "ASIGNA"
 
conn = pyodbc.connect("DRIVER={SQL Server};SERVER=" + server + ";trusted_connection=yes;")
#podría no ser necesario (funcionan independientemente), aunque lo suyo es usar conn y create_engine por si acaso

# connection_string
engine = create_engine(f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=SQL+Server")
engine = engine.connect()

# Nos aseguramos que estamos conectados con ASIGNA y vemos las tablas que contiene
"""
df_schemas = pd.read_sql('SELECT * FROM INFORMATION_SCHEMA.TABLES;', con=engine)
df_schemas
"""
#df_fichero.info()

In [ ]:
# Función para convertir columnas automáticamente
def convertir_columnas(df_fichero):
    for col in df_fichero.columns:
        try:
            # Intentar convertir a int
            df_fichero[col] = pd.to_numeric(df_fichero[col], errors='coerce')
            if df_fichero[col].notnull().all():  # Si todos los valores son numéricos
                df_fichero[col] = df_fichero[col].astype(int)
            else:
                # Si no todos son numéricos, mantener como texto
                df_fichero[col] = df_fichero[col].astype(str)
        except Exception as e:
            # Si falla, forzar a texto
            df_fichero[col] = df_fichero[col].astype(str)
    return df_fichero

# Convertir las columnas
df_convertido = convertir_columnas(df_fichero)
#df_convertido[df_convertido.select_dtypes(include=['object']).columns] = df_convertido.select_dtypes(include=['object']).astype(str)

df_convertido.info()

In [ ]:
# Reto: crear cursor, crear el esquema de la tabla con él y subrila a la base de datos,
# o tal vez recorrer ya el cursor por el df_convertido y subirlo a la base de datos

query = "INSERT INTO df_fichero (TIPO_OPERACION, LOCALIZADOR, EMPRESA_BILL, PRODUCTO, SERIE, BILLETE, UNODOS, CA, LINEA, FECHA_VIAJE, EXPEDICION, BUS, ORIGEN, DESTINO, HORA_SALIDA, FECHA_PASO, HORA_PASO, NOMBRE_VIAJERO, TIPO_ENLACE, FECHA_VENTA, HORA_VENTA, ADMON_BASE, EMPRESA_VENTA, VENDEDOR, CUENTA_IMPUTACION, TIPO_BIL, COD_PAIS, MONEDA, COD_PROMOCION, KMS, PRECIO_BASE, SUP_CALIDAD, SUP_TALTA, COD_DTO, POR_DTO, IMPORTE_DTO, POR_IVA, IMPORTE_TASA, PRECIO_NETO, CREDITO, IMPORTE_COMISION, TIPO_FACTURA, NUM_FACTURA, NUM_TARJETA, VIAJES_CARGADOS, PLAZA_BILLETE, ITINERARIO, TIPO_BONO, MOTIVO, GASTOS_GESTION, SUPLEMENTOS, GASTOS_CANCELACION, [index]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
"""
    CREATE TABLE viajes_testing (
    TIPO_OPERACION CHAR, 
    LOCALIZADOR INT,
    EMPRESA_BILL INT,
    PRODUCTO INT,
    SERIE  INT,
    BILLETE  INT,
    UNODOS  INT,
    CA  INT,
    LINEA INT,
    LINEA INT,
    FECHA_VIAJE INT,
    EXPEDICION INT,
    BUS INT,
    ORIGEN INT,
    DESTINO INT,
    HORA_SALIDA INT,
    FECHA_PASO INT,
    HORA_PASO INT,
    NOMBRE_VIAJERO CHAR,
    TIPO_ENLACE CHAR,
    FECHA_VENTA INT,
    HORA_VENTA INT,
    ADMON_BASE INT,
    EMPRESA_VENTA INT,
    VENDEDOR INT,
    CUENTA_IMPUTACION INT,
    TIPO_BIL INT,
    COD_PAIS INT,
    MONEDA INT,
    COD_PROMOCION CHAR,
    KMS INT,
    PRECIO_BASE INT,
    SUP_CALIDAD INT,
    SUP_TALTA INT,
    COD_DTO INT,
    POR_DTO INT,
    IMPORTE_DTO INT,
    POR_IVA INT,
    IMPORTE_TASA INT,
    PRECIO_NETO INT,
    CREDITO INT,
    IMPORTE_COMISION INT,
    TIPO_FACTURA CHAR,
    NUM_FACTURA INT,
    NUM-TARJETA INT,
    VIAJES-CARGADOS INT,
    PLAZA-BILLETE INT,
    ITINERARIO INT,
    TIPO_BONO INT,
    MOTIVO INT,
    GASTOS_GESTION INT,
    SUPLEMENTOS INT,
    GASTOS_CANCELACION INT, index INT
);
"""

"""
#cursor.execute(query)
for index, row in df_fichero.iterrows():
    cursor.executemany(query, df_fichero.values.tolist())
    #cursor.execute(query, tuple(row))
    #cursor.execute("INSERT INTO viajes_testing (TIPO_OPERACION, LOCALIZADOR, EMPRESA_BILL, PRODUCTO, SERIE, BILLETE, UNODOS, CA, LINEA, FECHA_VIAJE, EXPEDICION, BUS, ORIGEN, DESTINO, HORA_SALIDA, FECHA_PASO, HORA_PASO, NOMBRE_VIAJERO, TIPO_ENLACE, FECHA_VENTA, HORA_VENTA, ADMON_BASE, EMPRESA_VENTA, VENDEDOR, CUENTA_IMPUTACION, TIPO_BIL, COD_PAIS, MONEDA, COD_PROMOCION, KMS, PRECIO_BASE, SUP_CALIDAD, SUP_TALTA, COD_DTO, POR_DTO, IMPORTE_DTO, POR_IVA, IMPORTE_TASA, PRECIO_NETO, CREDITO, IMPORTE_COMISION, TIPO_FACTURA, NUM_FACTURA, NUM_TARJETA, VIAJES_CARGADOS, PLAZA_BILLETE, ITINERARIO, TIPO_BONO, MOTIVO, GASTOS_GESTION, SUPLEMENTOS, GASTOS_CANCELACION, [index]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", tuple(row))
"""

"""
# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
     cursor.execute(df_fichero, into new table name='viajes_testing', con=engine, if_exists='replace' )
cnxn.commit()
cursor.close()
"""
cursor = conn.cursor()

for index, row in df_fichero.iterrows():
    cursor.execute

#for index, row in df_fichero.iterrows():
 #    cursor.execute("""INSERT INTO [ASIGNA].[dbo].[viajes_testing] (TIPO_OPERACION, LOCALIZADOR, EMPRESA_BILL, PRODUCTO, SERIE, BILLETE, UNODOS, CA, LINEA, FECHA_VIAJE, EXPEDICION, BUS, ORIGEN, DESTINO, HORA_SALIDA, FECHA_PASO, HORA_PASO, NOMBRE_VIAJERO, TIPO_ENLACE, FECHA_VENTA, HORA_VENTA, ADMON_BASE, EMPRESA_VENTA, VENDEDOR, CUENTA_IMPUTACION, TIPO_BIL, COD_PAIS, MONEDA, COD_PROMOCION, KMS, PRECIO_BASE, SUP_CALIDAD, SUP_TALTA, COD_DTO, POR_DTO, IMPORTE_DTO, POR_IVA, IMPORTE_TASA, PRECIO_NETO, CREDITO, IMPORTE_COMISION, TIPO_FACTURA, NUM_FACTURA, NUM_TARJETA, VIAJES_CARGADOS, PLAZA_BILLETE, ITINERARIO, TIPO_BONO, MOTIVO, GASTOS_GESTION, SUPLEMENTOS, GASTOS_CANCELACION, [index]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""")



tables = cursor.fetchall()

for table in tables:
    print(table)

# Confirmar la transacción
conn.commit()



cursor.close()
conn.close()

In [ ]:
tables = pd.read_sql("SELECT * FROM [ASIGNA].[dbo].[df_fichero]", engine)

# Mostrar las tablas
print(tables)

In [ ]:
##  Exportamos a SQL y SQL Server  ##
#cursor = conn.cursor()
#columns = [column[0] for column in cursor.description]

df_convertido = df_convertido.convert_dtypes()
df_convertido.to_sql(name='viajes_testing', con=engine, if_exists='append', index=False)